# STM32F103RCT6 Mini board configuration

# Copyright (c) 2020 WuhanStudio
# SPDX-License-Identifier: Apache-2.0

if BOARD_STM32F103_ZET6

config BOARD
	default "stm32f103_zet6"

endif # BOARD_STM32F103_ZET6
